{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}

    <h1>{{ entity.title }}</h1>

    {% for question in entity.questions %}
        <div class="row">
            <h3>{{ question.questionText }}</h3>

            {% for variant in question.variants %}
                <div class="row">
                    <div class="container">
                        {{ variant.variantText }} {% if variant.right %}<i class="fa icon-check"></i>{% endif %}
                        <a class="btn btn-danger" href="{{ path('variant_delete', {'id': variant.id}) }}">Удалить</a>
                    </div>
                </div>
            {% endfor %}
            <br />
            <a class="btn btn-primary" href="{{ path('variant_new', {'questionId': question.id}) }}">Добавить вариант</a>
            <a class="btn btn-danger" href="{{ path('question_delete', {'id': question.id}) }}">Удалить вопрос</a>
        </div>
    {% endfor %}
    <br />
    <div class="row">
        <div class="container controls">
            <a class="btn btn-primary" href="{{ path('test') }}">К сиписку тестов</a>
            <a class="btn btn-primary" href="{{ path('test_edit', { 'id': entity.id }) }}">Редактировать</a>
            <a class="btn btn-primary" href="{{ path('question_new', {'testId': entity.id}) }}">Добавить вопрос</a>
        </div>
    </div>

{% endblock %}
