{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}

{% block page -%}
    <h1>Task</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>
                {% autoescape "js" %}
                {{ entity.text | slice(0,500) | raw }}{% if entity.text | length > 500 %}...{% endif %}
                {% endautoescape %}
                </td>
            </tr>
            <tr>
                <th>Ответ</th>
                <td>
                    {% autoescape "js" %}
                    {{ entity.answer | slice(0,100) | raw }}{% if entity.answer | length > 100 %}...{% endif %}
                    {% endautoescape %}
                </td>
            </tr>
            <tr>
                <th>Верный ответ</th>
                <td>
                    {% autoescape "js" %}
                    {{ entity.rightAnswer | slice(0,100) | raw }}{% if entity.rightAnswer | length > 100 %}...{% endif %}
                    {% endautoescape %}
                </td>
            </tr>

        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('task') }}">
        К списку
    </a>
    <a class="btn btn-primary" href="{{ path('task_edit', { 'id': entity.id }) }}">
        Редактировать
    </a>

{% endblock %}
