{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}

{% block page -%}
    <h1>Задание</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Назначена</th>
                <td>
                    {% if entity.user.username is defined %}
                        {{ entity.user.username }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Задание</th>
                <td>
                {% autoescape "js" %}
                {{ entity.text | slice(0,500) | raw }}{% if entity.text | length > 500 %}...{% endif %}
                {% endautoescape %}
                </td>
            </tr>
            <tr>
                <th>Ответ</th>
                <td>
                    {% autoescape "js" %}
                    {{ entity.answer | slice(0,100) | raw }}{% if entity.answer | length > 100 %}...{% endif %}
                    {% endautoescape %}
                </td>
            </tr>
            <tr>
                <th>Верный ответ</th>
                <td>
                    {% autoescape "js" %}
                    {{ entity.rightAnswer | slice(0,100) | raw }}{% if entity.rightAnswer | length > 100 %}...{% endif %}
                    {% endautoescape %}
                </td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>
                    {% if entity.right %}
                        <i class="icon-check"></i>
                    {% else %}
                        <i class="icon-check-empty"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Просмотрена</th>
                <td>
                    {% if entity.seen %}
                        <i class="icon-check"></i>
                    {% else %}
                        <i class="icon-check-empty"></i>
                    {% endif %}
                </td>
            </tr>

        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('task_mark', { 'id': entity.id }) }}">
        {% if not entity.right %}
            Засчитать ответ
        {% else %}
            Снять ответ
        {% endif %}

    </a>

    <a class="btn btn-primary" href="{{ path('task') }}">
        К списку
    </a>
    <a class="btn btn-primary" href="{{ path('task_edit', { 'id': entity.id }) }}">
        Редактировать
    </a>

{% endblock %}
