{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}

{% block page -%}

    {% set user = app.security.getToken().getUser() %}

    <ul class="nav nav-tabs bordered">
        <li class="active">
            <a href="#post_tab" data-toggle="tab">Статья</a>
        </li>
        <li>
            <a href="#sandbox_tab" data-toggle="tab">Песочница</a>
        </li>
        <li>
            <a href="#test_tab" data-toggle="tab">Тесты</a>
        </li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="post_tab">
            <div class="container" style="width:93%;">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div id="postlist">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="pull-left">
                                            <h3>{{ entity.title }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                {% autoescape "js" %}
                                {{ entity.postText | raw }}
                                {% endautoescape %}
                            </div>

                            <div class="panel-footer">
                                <div class="pull-right">
                                    <h4><small>{{ entity.autor.username }} в <em>{{entity.createdAt | date ('d-m-Y H:i:s') }}</em></small></h4>
                                </div>
                                {% for tag in entity.tags %}
                                    <span class="label label-default">{{ tag.title | capitalize }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <a class="btn btn-primary" href="{{ path('post') }}">
                    К списку статей
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary" href="{{ path('post_edit', { 'id': entity.id }) }}">
                        Редактировать
                    </a>
                    <a class="btn btn-danger" href="{{ path('post_delete', { 'id': entity.id }) }}">
                        Удалить
                    </a>
                {% endif %}

            </div>
        </div>
        <div class="tab-pane fade" id="test_tab">

            <h2>Доступные тесты:</h2>

            {% for test in entity.getTests %}
                <div class="container" style="width: 90%">
                    <div class="row">
                        <div class="col-md-8 col-md-push-8">{{test.title}}</div>
                        <div class="col-md-4">
                            Ваш лучший результат: {{test.getMaxResult(user)}} / {{ test.questions | length }}
                            <a href="{{ path('test_run', { 'id': test.id }) }}" class="btn btn-primary">Пройти</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="sandbox_tab">
            <div id="editorContainer"></div>
            <button id="calculate" class="btn btn-primary">Решение</button>
        </div>
    </div>

    <script>
        $('#calculate').on('click', function(){
            var bubble = new Bubble()
        });
    </script>

{% endblock %}

