{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}
    <h1>Script list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Code</th>
                <th>Difficult</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('script_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.difficult }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('script_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('script_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('script_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
